header{
    background-position: top center;
    background-color: rgb(24, 232, 239);
   /*  background-color: rgb(31, 116, 131); */
}

stan {
    text-decoration-color: yellow;
}

ul{
    padding-left:10px;
}

table{
    padding-left: 0px;
}

.stripe{
    background-color: aqua;
}